:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
  color: #df3ca6;
}

.navbar-brand img{
  width: 30px;
  margin-right: 10px;
}

.btn  {
  font-size: 15px;
}

.btn-primary,
.bg-primary {
  background-color: #df3ca6 !important;
  border: none;
}

.btn-primary:hover{
  background-color: #df3ca6;
  opacity: 0.9;
}

.btn-secondary  {
  background-color: #7430f9;
}

.btn-secondary:hover{
  background-color: #7430f9;
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}